.carousel__wrap {
    width: 100%; // Занимает всю ширину экрана
    padding: 0; // Убирает отступы на мобильных устройствах
  }
  
  /* Стили слайдов на мобильных устройствах */
 
  
  /* Стили для изображений на мобильных устройствах */
  .carousel__slide-item img {
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
    width: 100%;
  }
  
  /* Стили для кнопок "Предыдущий" и "Следующий" на мобильных устройствах */
  .carousel__btn-arrow {
    border: solid black;
    border-width: 0 0.4rem 0.4rem 0;
    height: 6rem;
    padding: 3px;
    width: 6rem;
    z-index: 10;

    &--left {
        transform: rotate(135deg);
    }

    &--right {
        transform: rotate(-45deg);
    }
    @media screen and (max-width: 600px) {
      /* Применить стили для кнопок при ширине экрана >= 600px */
      width: auto; // Сбрасываем фиксированную ширину
      height: auto; // Сбрасываем фиксированную высоту
      padding: 10px 20px; // Добавляем внутренние отступы для больших экранов
    }
  }
  
  .carousel__btn--prev {
    left: 10px; // Располагаем кнопку "Предыдущий" слева
  }
  
  .carousel__btn--next {
    right: 10px; // Располагаем кнопку "Следующий" справа
  }

  
  /* Стили для точек управления (пагинации) на мобильных устройствах */
  .carousel__dots {
    display: flex;
    align-items: center;
    justify-content: center;
    
    .dot {
      width: 5px; // Ширина точки
      height: 5px; // Высота точки
      background-color: #ccc; // Цвет точки
      border-radius: 50%; // Скругляем углы, чтобы сделать точки круглыми
      margin: 0 5px; // Отступы между точками
      cursor: pointer; // Изменяем курсор при наведении на точки
      
      &.active {
        background-color: #5799e0; // Цвет активной точки
      }
    }
    
  }
 