#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html, body, #root {
  height: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

.footer {
  background-color: #fff;
  color: #333;
  text-align: center;
  padding: 20px 0;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  bottom: 0;
}

.footer-logo {
  width: 100px;
  margin-bottom: 10px;
}
.MuiInputBase-root {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
